<script setup>
import Card from "@/components/boilerplate-card.vue";
// this approach is not necessary with auto-import icon components
// import IconCocktail from "~icons/mdi/glass-cocktail";
</script>

<template>
  <div class="bg-gray-50">
    <div class="max-w-screen-2xl px-4 py-12 mx-auto sm:px-6">
      <div
        class="
          grid grid-cols-2
          md:grid-cols-3
          lg:grid-cols-4
          xl:grid-cols-5
          2xl:grid-cols-6
        "
      >
        <div v-for="index in 24">
          <card class="mx-1">
            <template #title> Section {{ index }} </template>
            <template #image>
              <i-mdi-glass-cocktail
                width="w-full"
                height="h-full"
              ></i-mdi-glass-cocktail>
            </template>
            <template #default>
              {{ index }}
            </template>
            <template #name> Person {{ index }} </template>
          </card>
        </div>
      </div>

      <h2
        class="
          text-3xl
          font-extrabold
          leading-9
          tracking-tight
          text-gray-900
          sm:text-4xl sm:leading-10
        "
      >
        Ready to dive in?
        <br />
        <span class="text-indigo-600">boilerplate-title</span>
      </h2>
      <div class="flex mt-8 lg:flex-shrink-0 lg:mt-0">
        <div class="inline-flex rounded-md shadow">
          <router-link
            to="/about"
            class="
              inline-flex
              items-center
              justify-center
              px-5
              py-3
              text-base
              font-medium
              leading-6
              text-white
              transition
              duration-150
              ease-in-out
              bg-indigo-600
              border border-transparent
              rounded-md
              hover:bg-indigo-500
              focus:outline-none
            "
          >
            Next Page
          </router-link>
        </div>
        <!-- <ButtonRepo /> -->
      </div>
    </div>
  </div>
</template>
