<template>
  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">Not Found</h1>
      <router-link
        to="/"
        class="
          inline-flex
          items-center
          justify-center
          px-5
          py-3
          text-base
          font-medium
          leading-6
          text-white
          transition
          duration-150
          ease-in-out
          bg-indigo-600
          border border-transparent
          rounded-md
          hover:bg-indigo-500
          focus:outline-none
        "
      >
        Back Home
      </router-link>
    </div>
  </header>
</template>
