<script></script>
<template>
  <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-10">
    <div class="flex justify-center md:justify-end -mt-16">
      <div
        class="
          w-20
          h-20
          object-cover
          rounded-full
          border-2 border-indigo-500
          bg-gray-200
        "
      >
        <div class="p-2">
          <slot name="image">
            <svg viewBox="0 0 256 256">
              <path
                d="M48 128c-1.955-29.248 19.364-64 37.364-64c18 0 36.136 13.843 36.136 64.5s19.136 80.5 49.136 80.5c30 0 53.364-40.125 53.364-80.5c-8.182 0-7.273-.752-16 0c0 32.35-20.455 64.45-37.364 64.45s-33.909-13.542-33.909-64.45S120.273 48 85.364 48C50.454 48 32 88.626 32 127.748c6 0 8.364.252 16 .252z"
                fillRule="evenodd"
                fill="currentColor"
              ></path>
            </svg>
          </slot>
        </div>
      </div>
    </div>
    <div>
      <h2 class="text-gray-800 text-3xl font-semibold">
        <slot name="title"> Card Title </slot>
      </h2>
      <p class="mt-2 text-gray-600">
        <slot>Lorem Ipsum</slot>
      </p>
    </div>
    <div class="flex justify-end mt-4">
      <a href="#" class="text-xl font-medium text-indigo-500">
        <slot name="name"> </slot>
      </a>
    </div>
  </div>
</template>
